body {
    background: #060f19;
    color: white;
    
}

.my-movie-pl {
    border-left: solid 2px #13BE13;
    border-bottom: solid 1px #182028;
    margin-bottom: 4rem;
  }

  .margin-section{
    margin-bottom: 6rem !important;
  }

  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2F3946;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  